@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


body{
    /* zoom: 80%; */
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 15px;
    color: #495E57;
    font-family: 'Fira Code', monospace;
}

h2{
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px 
}

body::-webkit-scrollbar-track {
    background: white;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #495E57;
    border-radius: 6px;
}

.mainIndex{
    margin: 0px 200px;
}

dialog{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

aside{
    color: black;
}

.aside.active{
    width: 200px;
}

.aside{
    top: 0;
    padding: 10px;
    height: 100vh;
    background-color: white;
    position: fixed;
    transition: all .5s ease;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

.aside::-webkit-scrollbar {
    width: 10px 
}

.aside::-webkit-scrollbar-track {
    background: white;
    border-radius: 6px;
}

.aside::-webkit-scrollbar-thumb {
    background: #495E57;
    border-radius: 6px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.head i{
    font-size: 2rem;
    cursor: pointer;
}

.aside.active .profile{
    display: flex;
}

 .profile{
    align-items: center;
}
.aside.active .profile p{
    font-size: 2rem;
}

.options i{
    font-size: 2rem;
    margin-right: 10px;
    color: #F4CE14;
}

.options a, .options div{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1rem;
    color: #495E57;
    transition: background-color .5s ease;
}

.options a:hover{
    background-color: #F5F7F8;
}

.options img{
    width: 40px;
    margin-right: 10px;
}

.aside{
    width: 80px;
    transition: all .4s ease;
}

.option, 
.profile{
    display: none;
}

.aside.active .option, 
.aside.active .profile{
    display: block;
}

.head i{
    margin: auto;
}

/* main */

.home{
    color: #495E57;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 100px; */
}

.home .web{
    width: 100%;
    height: auto;
}

.home .web img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home .texto{
    text-align: center;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.devices{
    text-align: center;
    height: 100vh;
}

.categories{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.categories .formatos{
    display: flex;
    height: 50vh;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    background-color: #F5F7F8;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

}

.categories .formatos img{
    width: 100%;
}

.container{
    height: 80vh;
    /* width: 70%; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    /* place-content: center;
    place-items: center; */
    gap: 15px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}


.fotoIndex{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #F5F7F8;
    border-radius: 20px;
}

.fotoIndex:first-child{
    background-image: url(../storage/img/celulares/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / 3;
}

.fotoIndex:nth-child(5){
    background-image: url(../storage/img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row: 2 / 4
}

.fotoIndex:nth-child(2){
    background-image: url(../storage/img/pcs/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fotoIndex:nth-child(3){
    background-image: url(../storage/img/audifonos/maina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fotoIndex:nth-child(4){
    background-image: url(../storage/img/monitores/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fotoIndex:nth-child(6){
    background-image: url(../storage/img/audifonos/mainb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fotoIndex:nth-child(7){
    background-image: url(../storage/img/zapatos/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

footer{
    width: 100%;
    height: 20vh;
    background-color: #45474B;
}

footer p{
    font-size: 3rem;
    color: white;
    text-align: center;
}

@media(max-width: 560px){
    .mainIndex{
        margin-left:85px;
        width: 100%;
    }

    .home{
        height: 100vh;
        color: #495E57;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* gap: 100px; */
    }

    .home .web{
        display: none;
    }

    .devices{
        text-align: start;
        width: 100%;
        /* border: 1px solid black; */
    }
    
    .categories{
        /* border: 1px solid red; */
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        /* gap: 15px; */
    }

    .categories .formatos{
        /* display: flex; */
        /* height: 50vh; */
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    }

    .categories .formatos img{
        width: 100%;
    }

    .destacados{
        display: none;
    }

    .aside{
        top: 0;
        left: 0;
        /* padding: 10px; */
        height: 100%;
        background-color: white;
        position: fixed;
        transition: all .5s ease;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
    }
    
}