@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
/* paleta de colores https://colorhunt.co/palette/f5f7f8f4ce14495e5745474b */

* {
    padding: 0;
    font-size: 14px;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

body{
    margin: 0;
    background-color: #F5F7F8;
    font-family: 'Fira Code', monospace;
}

h2{
    font-size: 1.7rem;
    color: #495E57;;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.1rem;
    margin: 0;
}

p{
    font-size: 1rem;
    color: #495E57;
}

body::-webkit-scrollbar {
    width: 10px 
}

body::-webkit-scrollbar-track {
    background: white;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #495E57;
    border-radius: 6px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
}

header i{
    margin-left: 15px;
    font-size: 30px;
    color: #F4CE14;
    transition: color 800ms ease
}

header .btnMenu{
    display: none;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    overflow-x: scroll;
}

nav::-webkit-scrollbar {
    height:10px 
}

nav::-webkit-scrollbar-track {
    background: #fde66750;
    border-radius: 2px;
    /* border: 1px solid #F4CE14 */
}

nav::-webkit-scrollbar-thumb {
    background: #495E57;
    border-radius: 2px;
}

header nav a{
    width: 100%;
    padding: 10px 50px;
    margin-right: 5px;
    text-decoration: none;
    color: #495E57;
    transition: all 0.5s ease;
}

header nav a:hover{
    background-color: #F4CE14;
    border-radius: 5px;
}

sup{
    color: #495E57;
}

header i:hover{
    cursor: pointer;
    color: #FDE767;  
}

dialog{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

/* Carrito de compras */

.dialogCar .content{
    width:45vw;
    height: 80vh;
    border: none;
    
}

.dialogCar .content i{
    color: red;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    transition: color 0.5s ease;
}

.dialogCar .content i:hover{
   cursor: pointer;
}

.dialogCar h2{
    margin-top: -15px;
    margin-bottom: 0;
}

.allCar{
    box-sizing: border-box;
    padding-top: 110px;
    height: 71%;
    width: 95%;
    gap: 8px;
    overflow-y: scroll;
}

.content .articuloCar{
    width: 80%;
    display: flex;
    border-radius: 10px;
    height: 80px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.content .articuloCar i{
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 10px;
    color: red;
    transition: font-size 0.3s linear;
}

.content .articuloCar i:hover{
    font-size: 21px;
}

.dialogCar .content .articuloCar .imgProductCar{
    width: 200px;
    height:80px;
    object-fit: contain;
}

.dialogCar .content .articuloCar .infoProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.dialogCar .content .articuloCar .infoProducto .cantPrecio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dialogCar .content .articuloCar .cantPrecio input{
    width: 40px;
    
}

.dialogCar .content .total{
    padding: 0px 20px;
    margin-top: 5px;
    border: 1px solid #45474B;
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

.dialogCar .content .total .cancelar button{
    border: none;
    background-color: #F4CE14;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.dialogCar .content .total .cancelar button:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #FDE767;
    border-radius: 8px;
    cursor: pointer;
}


main{
    margin: 20px 100px;
}

.articulo{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 55vh;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.articulo .imgProductos{
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-content: center;
    place-items: center;
    height: 50vh;
    width: 60vw;
}

.articulo .imgProductos .angulos{
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: space-around;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.articulo .imgProductos .angulos .imgAngulo{
    object-fit: contain;
    width: 100%;
    height: 10vh;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 10px;
}

.articulo .imgProductos .angulos .imgAngulo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.articulo .imgProductos .principal{
    height: 46vh;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(201, 198, 198);
}

.articulo .imgProductos .principal .imgPrincipal{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.articulo .descripcionProducto{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcionProducto .precios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.descripcionProducto .estrellas{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.descripcionProducto .estrellas i{
    /* color: #495E57; */
    color: #F4CE14;
    font-size: 1.4rem;
}

.descripcionProducto .descripcion{
    text-align: center;
}

.descripcionProducto .precios{
    letter-spacing: 2px;
}

.descripcionProducto .btnObtener button{
    font-family: 'Fira Code', monospace;
    background-color: #F4CE14;
    padding: 10px 30px;
    border-radius: 2px;
    color: black;
    border: none;
    transition: all 1s ease;
}

.descripcionProducto .btnObtener button:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #FDE767;
    border-radius: 8px;
    cursor: pointer;
}

/* Ventana modal */

.dialogDetalle{
    border: none;
    width: 25vw;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

dialog section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
dialog section .stars{
    color: #F4CE14;
}

dialog img{
    width: 60%;
    object-fit: contain;
}

dialog section .preciosDialog{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

dialog section form .submit{
    padding: 6px;
    background-color: #F4CE14;
    border: none;
    transition: all 1s ease;
}

dialog section form {
    margin-bottom: 10px;
}

dialog section form .submit:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #FDE767;
    border-radius: 8px;
    cursor: pointer;
}

dialog section form .submit, input{
    padding: 6px;
}

dialog section form  input{
    border: 1px solid #495E57;
    width: 60%;
}

dialog #hide {
    background-color: #495E57;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 1s ease
}

dialog #hide:hover {
    background-color: #45474B;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   
}

@media(max-width: 560px){

    main{
        margin: 10px 10px;
    }

    .articulo{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: auto;
        width: 100%;
        border-radius: 10px;
        padding: 0px;
        box-sizing: border-box;
        margin-bottom: 40px 0;
    }

    .articulo .imgProductos{
        display: grid;
        grid-template-columns: 2fr 4fr;
        place-content: center;
        place-items: center;
        height: auto;
        width: 100%;
    }

    .articulo .imgProductos .angulos .imgAngulo{
        object-fit: contain;
        width: 80%;
    }

    /* descripción */

    .articulo .descripcionProducto{
        width: 100%;
        margin-bottom: 10px;
    }

    
    .dialogDetalle{
        border: none;
        border-radius: 10px;
        width: 80vw;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }
    
    /* Carrito de compras */


    .dialogCar .content{
        margin-left: 0px;
        width:85vw;
        height: 70vh;
        border: none;
    }

    .allCar{
        margin-left: -20px;
        box-sizing: border-box;
        padding-top: 110px;
        height: 60%;
        width: 100%;
        /* gap: 8px; */
        overflow-y: scroll;
    }
    
    .content .articuloCar{
        width: 90%;
        display: flex;
        border-radius: 10px;
        height: 80px;
        position: relative;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }

    .content .articuloCar i{
        position: absolute;
        font-size: 20px;
        left: 5px;
        top: 5px;
        color: red;
        transition: font-size 0.3s linear;
    }

    .dialogCar .content .articuloCar .imgProductCar{
        width: 150px;
        height:80px;
        object-fit: contain;
    }

    .dialogCar .content .total{
        margin-left: -15px;
        margin-top: 20px;
        border: 1px solid #45474B;
        height: 10vh;
        width: 80%;
        margin-bottom: 0px;
  
    }

    header .btnMenu{
        display: block;
    }

    header {
        position: fixed;
        bottom: 0;
        margin-top: 10vh;
    }

    header .menu{
        background-color: #45474B;
        font-weight: 900;
        position: absolute;
        flex-direction: column;
        bottom: 10vh;
        left: 0;
        width: 100%;
        height: 60vh;
        margin: 0;
        position: fixed;
        overflow-y: scroll;
        transform: translateX(-300%);
        transition: transform 0.3s;
    }

    .menu.active{
        transform: translateX(0);
    }

    header .menu a{
        text-align: center;
        font-size: 1.5rem;
        color: white;
        padding: 20px 0px;
        
    }
    header nav a:hover{
        /* outline: 1px solid #495E57; */
        background-color: initial;
    }

    .dialogCar h2{
        /* margin-top: -25px; */
    }

}
