@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
/* paleta de colores https://colorhunt.co/palette/f5f7f8f4ce14495e5745474b */
* {
    padding: 0;
    font-size: 15px;
}

body{
    margin: 0;
    background-color: #F5F7F8;
    font-family: 'Fira Code', monospace;
}

h2{
    font-size: 1.7rem;
    color: #495E57;;
}

h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.1rem;
    margin: 0;
}

p{
    font-size: 1rem;
    color: #495E57;
}

header{
    height: 10vh;
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

main{
    margin: 20px 100px;
}

.articulo{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 55vh;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.articulo .imgProductos{
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-content: center;
    place-items: center;
    height: 50vh;
    width: 60vw;
}

.articulo .imgProductos .angulos{
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: space-around;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.articulo .imgProductos .angulos .imgAngulo{
    object-fit: contain;
    width: 100%;
    height: 10vh;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 10px;
}

.articulo .imgProductos .angulos .imgAngulo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.articulo .imgProductos .principal{
    height: 46vh;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(201, 198, 198);
}

.articulo .imgProductos .principal .imgPrincipal{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.articulo .descripcionProducto{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcionProducto .precios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.descripcionProducto .estrellas{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.descripcionProducto .estrellas i{
    /* color: #495E57; */
    color: #F4CE14;
    font-size: 1.4rem;
}

.descripcionProducto .descripcion{
    text-align: center;
}

.descripcionProducto .precios{
    letter-spacing: 2px;
}

.descripcionProducto .btnObtener button{
    font-family: 'Fira Code', monospace;
    background-color: #F4CE14;
    padding: 10px 30px;
    border-radius: 2px;
    color: black;
    border: none;
    transition: all 1s ease;
}
.descripcionProducto .btnObtener button:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #FDE767;
    border-radius: 8px;
    cursor: pointer;
}

/* Ventana modal */

dialog{
    border: none;
    border-radius: 10px;
    width: 25vw;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

dialog section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
dialog section .stars{
    color: #F4CE14;
}

dialog img{
    width: 60%;
    object-fit: contain;
}

dialog section .preciosDialog{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

dialog section form .submit{
    padding: 6px;
    background-color: #F4CE14;
    border: none;
    transition: all 1s ease;
}

dialog section form {
    margin-bottom: 10px;
}

dialog section form .submit:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #FDE767;
    border-radius: 8px;
    cursor: pointer;
}

dialog section form .submit, input{
    padding: 6px;
}

dialog section form  input{
    border: 1px solid #495E57;
    width: 60%;
}

dialog #hide {
    background-color: #495E57;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 1s ease
}

dialog #hide:hover {
    background-color: #45474B;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   
}

@media(max-width: 560px){

    main{
        margin: 20px 10px;
    }

    .articulo{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: auto;
        width: 100%;
        border-radius: 10px;
        padding: 0px;
        box-sizing: border-box;
        margin-bottom: 40px 0;
    }

    .articulo .imgProductos{
        display: grid;
        grid-template-columns: 2fr 4fr;
        place-content: center;
        place-items: center;
        height: auto;
        width: 100%;
    }

    .articulo .imgProductos .angulos .imgAngulo{
        object-fit: contain;
        width: 80%;
    }

    /* descripción */
    .articulo .descripcionProducto{
        width: 100%;
        margin-bottom: 10px;
    }

    dialog{
        border: none;
        border-radius: 10px;
        width: 80vw;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

}
